.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  width: 100%;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background-main {
  background-image: url('./pictures/pic.jpeg');
  background-size: cover;
  height: fit-content;
  font:larger;
  color: aliceblue;
  padding-top: 10rem;

}

.title {
  color: black;
  font-size: 4rem;
}

.create-title {
  color: black;
  font-size: 3rem;
}


.itinerary-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.picture4 {
  border: 5px solid black;
  margin: 3rem 1rem 14rem 1rem;
}

.picture5 {
  border: 5px solid black;
  margin: 3rem 1rem 16rem 1rem;
}

.picture6 {
  border: 5px solid black;
  margin: 3rem 1rem 8rem 1rem;
}