body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.d-flex {
  margin: 0 auto;
  padding: 0;
  /* border: 2px solid #dc392d;  */
  /* outline: none; */
  /* border-radius: 20px; */
  font-size: 1.3em;
  color: #212529;
  background-color: rgb(5, 2, 2);
  width: 300px;
}



/*
This will be applied at the end when the map position is fixed, currently the map is floating ontop of the nav page.
*/
.nav-style {
  position: fixed;
  height: 5px;
  width: 100%;
  margin: auto;
}

/* form {
  margin: 0 auto;

  width: 900px;
  outline: none;
  border-radius: 10px;
  font-size: 1.3em;
  color: #212529;
  background-color: white;

} */