nav.nav-style {
  z-index: 9999;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.collapse.navbar-coll {
  display: flex;
  justify-content: flex-end;
}

.collapse.nav-log {
  display: flex;
  justify-content: space-between;
}
