/* .d-flex {
    margin: 0 auto;
    padding: 0;
    border: 2px solid #dc392d; 
    outline: none;
    border-radius: 20px;
    font-size: 1.3em;
    color: #212529;
    background-color: white;
    width: 400px;
  } */

  /*
This will be applied at the end when the map position is fixed, currently the map is floating ontop of the nav page.
*/
/* .nav-style {
  position: fixed;
  height: 5px;
} */

/* form {
  margin: 0 auto;

  width: 900px;
  outline: none;
  border-radius: 10px;
  font-size: 1.3em;
  color: #212529;
  background-color: white;

} */