.google_map_container {
  height: 100vh;
  width: 80%;
  border: 2px solid orange;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
}

main.map-container {
  width: 100%;
  display: flex;
}

.text-container {
  width: 30%;
  margin: 1rem;
}

.text-box {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid orange;
  border-radius: 20px;
  margin: 0.2rem;
}

.marker-form {
  padding: 10px;
  margin: 5px;
  width: auto;
}

.marker-form input {
  width: 100%;
}