.view_others_map {
  height: 100vh;
  width: 80%;
  border: 2px solid orange;
}

main.map-container {
  width: 100%;
  display: flex;
}

.text-container {
  width: 30%;
}

.text-box {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid orange;
  border-radius: 10px;
  margin: 0.2rem;
}