.google_map_container {
  height: 90vh;
  width: 80%;
  border: 2px solid orange;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 8vh;
}

/* .marker_index {
  width: 30px;
  height: 30px;
  display: inline;
  padding: 5px; 
  border-radius: 50%;
} */

.dot {
  height: 25px;
  width: 25px;
  /* background-color: #bbb; */
  border-radius: 50%;
  
  display: inline-block;
  text-align: center;
}

main.map-container {
  width: 100%;
  display: flex;
}

.text-container {
  width: 30%;
  margin: 1rem;
  margin-top: 9vh;
}

.marker_delete {
  display: flex;
  justify-content: space-between;
  margin: 0px 2rem 0px 1rem;
}

.text-box {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid orange;
  border-radius: 20px;
  margin: 0.2rem;
}

.marker-form {
  padding: 10px;
  margin: 10px 0px;
  width: auto;
}

.marker-form input {
  width: 100%;
}

.markerInfo-container {
  background-color: rgba(255, 255, 255, 0.4);
  border: 3px solid orange;
  border-radius: 10px;
}

.comment-container {
  background-color: rgba(255, 255, 255, 0.4);
  border: 3px solid orange;
  border-radius: 10px;
}

.comment-form {
  padding: 10px;
  margin: 0.5rem;
  width: auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-container p {
  margin: 0;
}

.comment-time {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.75);
}

.comment-form input{
  width: 100%;
}